* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 25px;
}

header {
  font-size: 24px;
  letter-spacing: 0.1em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 192);
  margin: 15px;
  background-color: white;
}

.email,
.address {
  color: #c0c0c0;
  font-size: 0.7em;
}

.name {
  font-size: 1em;
  font-weight: bolder;
}

.text-container {
  text-align: center;
  margin: 20px;
  line-height: 25px;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  width: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(100, 100, 100, 0.4);
}
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    text-align: start;
  }
  .grid-container {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(minmax(50px, 50px));
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
